<launch>
    <node name="dwm1001_node" pkg="dwm1001_drivers" type="dwm1001_driver_ros.py" output="screen">
        <rosparam file="$(find dwm1001_drivers)/params/ros_params.yaml" command="load"/>
        <rosparam file="$(find dwm1001_drivers)/dwm_ble_cfg/params/nodes_cfg.yaml" command="load"/>
        <rosparam file="$(find dwm1001_drivers)/dwm_ble_cfg/params/tag_operation_mode.yaml" command="load"/>
    </node>
</launch>
