<launch>
    <arg name="nodes_cfg_label" default="default"/>
    <arg name="tag_id" default="dwm1001"/>
    <arg name="visualize_anchors" default="True"/>

    <node name="$(arg tag_id)_tag_node" pkg="dwm1001_drivers" type="dwm1001_driver_ros.py" output="screen">
        <rosparam file="$(find dwm1001_drivers)/params/ros_params.yaml" command="load"/>
        <rosparam file="$(find dwm1001_drivers)/params/nodes_cfg/$(arg nodes_cfg_label).yaml" command="load"/>
        <rosparam file="$(find dwm1001_drivers)/params/tag_operation_mode.yaml" command="load"/>
        <param name="tag_id" value="$(arg tag_id)" />
        <param name="visualize_anchors" value="$(arg visualize_anchors)" />
    </node>
</launch>
