<launch>
    <arg name="use_sim_time" default="False"/>
    <arg name="nodes_cfg_label" default="default"/>
    <arg name="std_acc" default="0.4"/>
    <arg name="std_rng" default="0.05"/>
    <arg name="dt" default="0.08"/>
    <arg name="using_ekf" default="False"/>
    <arg name="duration" default="0"/> <!-- Localization node duration in seconds, if 0 then duration until KeyboardInterrupt-->
    
    <param name="use_sim_time" value="$(arg use_sim_time)"/>

    <node name="dwm1001_localization" pkg="dwm1001_drivers" type="dwm1001_localization.py" output="screen">
        <param name="std_acc" value="$(arg std_acc)" />
        <param name="std_rng" value="$(arg std_rng)" />
        <param name="dt" value="$(arg dt)" />
        <param name="using_ekf" value="$(arg using_ekf)" />
        <param name="duration" value="$(arg duration)" />
        <rosparam file="$(find dwm1001_drivers)/params/nodes_cfg/$(arg nodes_cfg_label).yaml" command="load"/>
    </node>        
</launch>