<!--
  DWM1001 nodes visualization launcher
 -->
<launch>

  <arg name="use_sim_time" default="false"/>
  <arg name="map_name" default="srvlab"/>
  <arg name="map_file" default="$(find dwm1001_drivers)/maps/$(arg map_name).yaml"/>
  
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <!-- World to map TF --> 
  <!-- lab 1.0 3.0 0.0 0.0 0.0 0.0 -->
  <!-- subterraneoA 1.95 22.85 0.0 0.0 0.0 1.57079632679 --> 
  <!--<node pkg="tf" type="static_transform_publisher" name="myworld_to_map" args="1.95 22.85 0.0 -3.10159265359 0.0 0.0 /world /map 1"/>-->

  <!-- rviz w/ configuration-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dwm1001_drivers)/rviz/nodes_viz.rviz" />
  
  <!-- map publisher -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map" />
  </node>
</launch>
